<h3{{ title_attributes.addClass('search-result title') }}>
  <a href="{{ url }}">
    {{ title }}
  </a>
</h3>
<div class="search-result snippet-info">
    <p{{ content_attributes.addClass('search-result snippet') }}>
      {{ snippet }}
    </p>
</div>
